---
---

@import "include-media";
@import "variables";
@import "type";
@import "container";
@import "nav";
@import "footer";
@import "post";
@import "video";

html,
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

* {
	box-sizing: border-box;
}
