---
---

@import "_sass/include-media";
@import "_sass/variables";
@import "_sass/type";
@import "_sass/container";
@import "_sass/nav";
@import "_sass/footer";
@import "_sass/post";
@import "_sass/video";

html,
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

* {
	box-sizing: border-box;
}
