---
layout: default
---

<div class="home">
	<div>
		{{ content }}
	</div>

	<div>
		{% for post in site.posts %}
			<div class="post-preview">
				<h2 class="post-preview__title">
					<a href="{{ site.url }}{{ post.url }}">
						{{ post.title }}
					</a>
				</h2>
				<div class="post-preview__image" style="background-image: url({{ post.thumbnail }});"></div>
				<p class="post-preview__excerpt">
					{{  post.excerpt }}
					<br />
					<a class="post-preview__button" href="{{ site.url }}{{ post.url }}">Read the whole article</a>
				</p>
			</div>
		{% endfor %}
	</div>
</div>
