---
layout: default
---

<div class="home">
	<div>
		{{ content }}
	</div>

	<div class="article-preview-container">
		<div class="article-preview-row">
			{% for article in site.articles limit:8 %}
				<div class="article-preview {% cycle 'article-preview--two-third', 'article-preview--one-third' %}">
					<a class="article-preview__button" href="{{ site.url }}{{ article.url }}">
						<div class="article-preview__image" style="background-image: url({{ article.thumbnail }});"></div>
						<p class="article-preview__title">
							{{ article.title }}
						</p>
					</a>
				</div>

				{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  				{% if thecycle == 'even' %}
    				</div><div class="article-preview-row">
  				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
